@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  transition: all 0.2s ease;
}

.no_transition{
  transition: none;
}


          body {
            margin: 0;
            font-family: 'Inter', sans-serif;
            background: linear-gradient(45deg, #8a8f8f, #12123e, #0c4e4e, #0000ff6b);
            background-size: 400% 400%;
            animation: gradientAnimation 8s ease infinite;
          }

          @keyframes gradientAnimation {
            0% {
              background-position: 0% 50%;
            }
            50% {
              background-position: 100% 50%;
            }
            100% {
              background-position: 0% 50%;
            }
          }

          .gradient{
            margin: 0;
            font-family: 'Inter', sans-serif;
            background: linear-gradient(45deg, #8a8f8f, #12123e, #115555, #0000ff6b);
            background-size: 400% 400%;
            animation: gradientAnimation 8s ease infinite;
          }

          @keyframes gradientAnimation {
            0% {
              background-position: 0% 50%;
            }
            50% {
              background-position: 100% 50%;
            }
            100% {
              background-position: 0% 50%;
            }
          }


.yellow_gradient{
  @apply from-yellow-500 to-yellow-300
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="range"] {
  height: 2px;
  -webkit-appearance: none;
  margin: 10px 0;
}

input[type="range"]:focus {
  outline: none;
}
