@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body{
  transition:all 0.2s;
}
.no_transition{
  transition: none;
}

.button-blue-gradient{
  @apply flex text-black dark:text-white bg-gradient-to-r border border-black dark:border-white hover:from-blue-700 hover:to-blue-500 focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2
}
.button-spotify{
  @apply flex text-white bg-gradient-to-r from-green-400 to-green-600 hover:scale-105 active:scale-95 focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-white font-medium rounded-lg text-sm p-1 text-center me-2 mb-2
}
.button-apple{
  @apply flex text-white bg-gradient-to-r from-pink-400 to-red-500 hover:scale-105 active:scale-95 focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-white font-medium rounded-lg text-sm p-1 text-center me-2 mb-2
}
.button-youtube{
  @apply flex text-white bg-gradient-to-r from-red-600 to-red-500 hover:scale-105 active:scale-95 focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-white font-medium rounded-lg text-sm p-1 text-center me-2 mb-2
}


.navbar_text{
  @apply hover:text-blue-500 
}

body{
  background-color: rgb(0, 0, 0);
}


/*           body {
            margin: 0;
            font-family: 'Inter', sans-serif;
            background: linear-gradient(45deg, #8a8f8f, #12123e, #0c4e4e, #0000ff6b);
            background-size: 400% 400%;
            animation: gradientAnimation 8s ease infinite; 
          }

          @keyframes gradientAnimation {
            0% {
              background-position: 0% 50%;
            }
            50% {
              background-position: 100% 50%;
            }
            100% {
              background-position: 0% 50%;
            }
          } */

          .gradient {
            margin: 0;
/*             background: linear-gradient(45deg, #8a8f8f7a, #12123e, #11555588, #0000ff6b); */
background-color: rgb(0, 0, 0);
            background-size: 400% 400%;
          }

          /* .animate {   -- ANIMATION DISABLED DURING DEVELOPMENT FOR PERFORMANCE
            animation: gradientAnimation 8s ease infinite;
          } 
          
          @keyframes gradientAnimation {
            0% {
              background-position: 0% 50%;
            }
            50% {
              background-position: 100% 50%;
            }
            100% {
              background-position: 0% 50%;
            }
          }
 */

.yellow_gradient{
  @apply from-yellow-500 to-yellow-300
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[id='songDuration'] {
  overflow: hidden;
  width: 24rem;
  height: 5px;
  -webkit-appearance: none;
  background-color: #ffff;
  transition: 1s all ease-out;
}

input[id='songDuration']::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  transition: 1s all ease-out;
  color: #13bba4;
  margin-top: -1px;
}

input[id='songDuration']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  transition: 1s all ease-out;
  cursor: ew-resize;
  background: #2da4fe;
  box-shadow: -25rem 0 0 25rem #2da4fe;
}


/** FF*/
input[type="range"]::-moz-range-progress {
background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
background-color: #43e5f7; 
}
input[type="range"]::-ms-fill-upper {  
background-color: #9a905d;
}